<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <bean id="aliPayBean" class="cc.yiueil.entity.AliPayBean">
        <property name="appId" value="${alipay.appId}"/>
        <property name="aliPayCertPath" value="${alipay.aliPayCertPath}"/>
        <property name="aliPayRootCertPath" value="${alipay.aliPayRootCertPath}"/>
        <property name="appCertPath" value="${alipay.appCertPath}"/>
        <property name="domain" value="${alipay.domain}"/>
        <property name="privateKey" value="${alipay.privateKey}"/>
        <property name="publicKey" value="${alipay.publicKey}"/>
        <property name="serverUrl" value="${alipay.serverUrl}"/>
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="cc.yiueil.interceptor.AliPayInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>