<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--factory对象, 拥有两种创建session的方式: 通过已注入的属性 | 通过properties目录下的mail.properties配置文件-->
    <bean id="mailSessionFactory" class="cc.yiueil.factory.MailSessionFactory"/>

    <!--mailSession: 这里通过properties目录下的mail.properties配置文件创建-->
    <bean id="mailSession" factory-bean="mailSessionFactory" factory-method="getSessionByProperties"/>

    <!--mailService 实际邮件服务-->
    <bean class="cc.yiueil.service.MailService">
        <property name="session" ref="mailSession"/>
    </bean>
</beans>